<article class="article">
  <h2>第一週 - 如何自學前端開發</h2>
  <ul>
    <li>什麼是前端？</li>
    <li>為什麼要學前端？</li>
    <li>前端的美好，引發學前端的慾望。</li>
    <li>如何自學前端開發。</li>
    <ol>
      <li>線上教學資源</li>
      <li>書籍</li>
      <li>每天需要追蹤的資訊</li> 
      <li>哪些可以參加的活動</li>
    </ol> 
    <li>網站產生器</li>
    <li>前端開發工具簡介</li>
  </ul>
  <h3>需要準備</h3>
  <ul>
    <li>一個好學的心</li>
    <li>筆記型電腦（Mac 系統佳）</li>
  </ul>
  <h2>第二週 - 製作第一個靜態網頁</h2>
  <ul>
    <li>HTML 入門</li>
    <ol>
      <li>標籤 Tag</li>
      <li>標題 Heading、段落 Paragraph</li>
      <li>清單 List</li>
      <li>連結 Link</li>
      <li>圖片 Image</li>
      <li>屬性 Attribute</li>
      <li>表單 Form</li>
    </ol>
    <ul>
      <li>介紹 HTML5-boilerplate</li>
      <li>無語意標籤 span, div</li>
    </ul>
    <li>CSS 入門</li>
    <ul>
      <li>如何套用 CSS</li>
      <li>選擇器 Selector、內容 Property、值 Value</li>
      <li>display (inline, block, inline-block)</li>
      <li>box-model (margin, padding, border)</li>
    </ul>
    <li>Git 入門</li>
    <ul>
      <li>什麼是版本控制</li>
      <li>在 GitHub 上建立一個 Respository</li>
      <li>將 Respository 下載到本機</li>
      <li>將建立的檔案加入 git add</li>
      <li>提交加入的檔案 git commit</li>
      <li>建立分支 git branch</li>
      <li>更新遠端 Respository git push</li> 
    </ul>
  </ul>
  <h3>需要準備</h3>
  <ul>
    <li>安裝好 Sublime Text 2 編輯器，或自己找一款順手的編輯器。</li>
    <li>安裝好 Git</li>
    <li>預習 HTML/CSS</li>
    <ul>
      <li><a target="_blank" href="http://www.htmldog.com/guides/">HTML Dog</a> - Beginner 部分</li>
      <li><a target="_blank" href="http://learn.shayhowe.com/html-css/">Learn to Code <strong>HTML & CSS</strong></a> - Lesson 1 ~ Lesson 3</li>
      <li><a target="_blank" href="https://dash.generalassemb.ly/">GA DASH</a> - Project 1</li> 
    </ul> 
  </ul>
</article>