<div class="container">
    <div class="tab-menu">
        <ul class="tabs">
            <li class="tab" ng-class="{ active: currentRoute=='/platform' }"><a href="#!/platform" class="tab-text">平台<span>簡介</span></a></li>
            <li class="tab" ng-class="{ active: currentRoute=='/course' }"><a href="#!/course" class="tab-text">課程<span>報名</span></a></li>
            <li class="tab" ng-class="{ active: currentRoute=='/speaker' }"><a href="#!/speaker" class="tab-text">講師<span>介紹</span></a></li>
            <li class="tab" ng-class="{ active: currentRoute=='/about' }"><a href="#!/about" class="tab-text">關於<span>我們</span></a></li>  
        </ul>
    </div>
    <div class="content">
        <div ui-view autoscroll="false"></div>
    </div>
</div>