<div class="container">
    <div class="tab-menu">
        <ul class="tabs">
            <li class="tab" ng-class="{ active: currentRoute=='/about' }"><a href="#!/about" class="tab-text">關於<span>我們</span></a></li>
            <li class="tab" ng-class="{ active: currentRoute=='/course' }"><a href="#!/course" class="tab-text">課程<span>介紹</span></a></li>
            <li class="tab" ng-class="{ active: currentRoute=='/speaker' }"><a href="#!/speaker" class="tab-text">講者<span>介紹</span></a></li>
            <li class="tab" ng-class="{ active: currentRoute=='/lesson' }"><a href="#!/lesson" class="tab-text"><span>課程</span>大綱</a></li>   
        </ul>
    </div>
    <div class="content">
        <div ui-view autoscroll="false"></div>
    </div>
</div>