<div class="project-wrapper">
  <div class="project-bg"></div>
  <div class="project-title">
    <span>打造全民寫程式的環境</span>
  </div>
</div>
<article class="article">
  <h2>從零開始學習，自己打造自己的創意原型。</h2>
  <p>
    為期8堂的前端 HTML + CSS (+Javascript) 基礎程式語言課程。讓設計師可以做出 Profilio、UX researcher 讓想法實現、創業家做出微型服務 Prototype。
    課程由簡單入門，引領學員培養自學的能力，往後可以運用網路資源繼續精進。
  </p>
  <h2>課程說明</h2>
  <ul>
    <li>
      視覺設計師因為沒有程式經驗，所以缺乏與工程師共同的語言，覺得工程師能力不足，無法實現你的設計；同時工程師也覺得設計師不切實際，切出來的圖不能用，造成雙方溝通狀態。
    </li>
    <li>
      專案經理因為沒有程式經驗，所以無法正確預估出專案時程，並且缺乏共同語言與工程師溝通，只能變成工程師討厭的對象。
    </li>
    <li>
      網路上線上課程百百種，教學書籍上千本，不知道哪個才好，由成功自學的工程師告訴你怎麼學最快，不走冤枉路。
    </li>
  </ul>
  <h2>適合對象</h2>
  <ul>
    <li>有設計規劃經驗，但是沒有程式基礎的設計師、專案經理、UX 研究者。</li>
    <li>學校只有教怎麼用 Dreamweaver 開發的學生。</li>
    <li>非資訊相關科系學生，想跨入 Web/App 領域。</li>
    <li>不知道如何自學網頁開發者。</li>
  </ul>
  <h2>本課程不適合</h2>
  <ul>
    <li>網頁設計師/前端開發人員</li>
    <li>曾獨立手寫 HTML、CSS 完成一個網站的開發者</li>
  </ul>
  <h2>預期效益</h2>
  <ul>
    <li>完成一個靜態的網站，上傳至 GitHub、Dropbox 空間。</li>
    <li>運用 jQuery 做出簡單的互動網頁。</li>
    <li>了解 HTML/CSS 進而可以修改由 wix、Webflow 等網站產生器產生的頁面。</li>
  </ul> 
  <h2>報名</h2>
</article>