<div class="profile-wrapper">
  <div class="profile-avatar-wrapper">
    <div class="profile-avatar"></div>
  </div>
  <div class="profile-info-wrapper">
    <ul class="profile-info">
      <li class="name"><strong>吳自勝 Mark Wu</strong></li>
      <li class="career"><span class="position">Front-End Developer</span> | <i class="fa fa-suitcase"></i><a class="company" target="_blank" href="http://www.deansoft.com.tw">Deansoft Inc.</a></li>
      <li class="focus">
        <span>擅長: </span>
        <span>Front-End, </span>
        <span>UI Design, </span>
        <span>App Design, </span>
        <span>RWD</span>
      </li>
      <li class="expr">
        <span>經驗: </span>
        <span>1.5 yr </span>
      </li>
    </ul>
  </div>
  <div class="contact-wrapper">
    <ul>
      <li><a target="_blank" href="https://www.facebook.com/tzusheng" class="btn"><i class="fa fa-facebook"></i>facebook</a></li>
      <li><a href="mailto:psdmac@gmail.com" class="btn"><i class="fa fa-envelope"></i>email</a></li>
    </ul>
  </div>
</div>
<div class="intro-background-wrapper">
  <h2>背景介紹</h2>
  <ul>
    <li>天生反骨，不務正業，大學學土木，畢業後靠 CodeSchool 線上課程自學前端技能。</li>
    <li>立志跨出舒適圈做些什麼，但是現在還在領別人薪水。</li>
    <li>常出沒 RGBA、f2e.tw、AngularJS.tw 等社群聚會，以及創業有關場合。</li> 
    <li>因為還是程式開發新手，所以更能了解初學者的痛苦。</li> 
  </ul>
</div>