<div class="changee-wrapper">
  <div class="changee-bg"></div>
</div>
<article class="article">
  <h2>Changee 理念介紹</h2>
  <p>Changee由「空間」、「社群」、「資訊」三個核心出發，希望能夠創造一個友善實踐者的平台。</p>
  <h2>空間</h2>
  <p>目前在台北市有五個實體空間。<br>經營項目為：共同工作空間、活動展演空間、展覽與生活空間。<br>空間部分的經營特色為透過與閒置空間屋主合作，將閒置空間轉化為實質的友善資源，提供給初期之創業者或藝術文化創作者及團隊使用。 將實踐者可能需求實體空間的三種運用形式做改良，讓更多可能性在實體空間發生。<br>至今兩年半時間，已於 Changee 空間舉辦將近 2000 場活動，約 10 萬人參與，並串連近 500 個單位。</p>
  <ul>
    <li>Changee 空間粉絲團：<a target="_blank" href="http://www.facebook.com/changeeinfo">http://www.facebook.com/changeeinfo</a></li>
    <li>Changee 空間官網：<a target="_blank" href="http://www.changeinfo.com">http://www.changeinfo.com</a></li>
    <li>Changee 空間信箱：<a href="mailto:service@changeeinfo.com">service@changeeinfo.com</a></li>
  </ul>
  <h2>社群</h2>
  <p>正在開發的Changee Across社群網站是「以信任為基礎的人才與資源媒合平台」。<br>以「個人」與「專案」為核心進行媒合，致力於進行「微型專案的整合與記錄」與 「建立個人公開資訊」。<br>透過網路服務與機制,降低「資訊」不對稱、以及「時間」、「空間」所帶來的限制。逐一解決總總人們在尋找合作單位或是內部夥伴時所面臨到的問題。期待能將人與人之間的聯繫變得更簡單與直接，使兩個可合作並一起成長的微型單位相遇。</p>
  <ul>
    <li>Changee Across概念簡報：<a target="_blank" href="https://dl.dropboxusercontent.com/u/14487466/Changee%20Across.pdf">點此觀看</a></li>
    <li>Changee Across 官網：<a target="_blank" href="http://www.changeeacross.com">http://www.changeeacross.com</a></li>
    <li>Changee Across 粉絲團：<a target="_blank" href="http://www.facebook.com/changeeacross">http://www.facebook.com/changeeacross</a></li>
    <li>Changee Across 信箱：<a href="mailto:changeeacross@gmail.com">changeeacross@gmail.com</a></li>
  </ul>
  <h2>資訊</h2>
  <p>
    Changee Learning Path則是著重「資訊」整理，希望透過系統化的整理，讓使用者更容易的找到所需的資訊與資源。
  </p>
  <p>一步一步，我們將「提供實踐者更友善的環境」逐步落實，希望能夠透過這些已累積的能量，延伸出更完整的實體與數位服務。透過凝聚眾人力量，相信當環境變得友善時，更多人的想法能夠萌芽，台灣的創意能量將得到最溫潤的滋養並茁壯。
  </p>
  
</article>

