<article class="article">
  <p>
    以下有詳細的課程說明，包含：「課程資訊」、「課程目標」、「適合對象」、「預期效益」、「課程大綱」
  </p>
  <h2>課程資訊 *已額滿*</h2>
  <a href="#" ng-click="$event.preventDefault();toggle=!toggle"><span ng-hide="toggle">展開資訊</span><span  ng-show="toggle">隱藏資訊</span></a>
  <article class="article toggle-slide" ng-class="{ toggle: toggle }">
    <ul>
      <li>時間：<span class="important">7/8(二) - 8/26(二)，每週二晚上7-10pm</span></li>
      <li>地點：Changee Playground -台北市羅斯福路五段 176 巷 2 號(捷運萬隆站四號出口步行約3-5分鐘)</li>
      <li>費用：<span class="important">每堂300元，一期8堂共2400元。</span></li>
      <p><span class="important">*已額滿*</span></p>
    </ul>
    <h2>課程目標</h2>
    <p>
      從零開始學習，自己打造自己的創意原型。<br>
      為期8堂的前端 HTML CSS ( Javascript) 基礎程式語言課程。<br>
      目標為讓設計師可以做出 Profilio、UX researcher 可以讓想法實現、創業家做出微型服務的Prototype。 <br>
      課程由簡單入門，除了教授基礎的程式語言課程外，也將介紹網路資源，引領學員培養自學的能力。
    </p>
    <h2>本課程為初階課程，適合：</h2>
    <ul>
      <li>有設計規劃經驗，但是沒有程式基礎的設計師、專案經理、UX 研究者</li>
      <li>學校只有教怎麼用 Dreamweaver 開發的學生</li>
      <li>非資訊相關科系學生，想跨入 Web/App 領域</li>
      <li>不知道如何自學網頁開發者</li>
    </ul>
    <p>如果你是資深的前後端工程師、網頁設計師、前端開發人員，這些課程對你來說可能會太簡單，<br>但如果您有意願交流、或對Learning Path的未來目標有興趣，非常歡迎<a href="http://learning-path.info/#!/about">聯繫我們</a>！
    </p>
    <h2>預期效益</h2>
    <ul>
      <li>完成一個靜態的網站，上傳至 GitHub、Dropbox 空間。</li>
      <li>運用 jQuery 做出簡單的互動網頁。</li>
      <li>了解 HTML/CSS 進而可以修改由 wix、Webflow 等網站產生器產生的頁面。</li>
    </ul>
    <a href="#" ng-click="$event.preventDefault();toggle=!toggle"><span ng-hide="toggle">展開資訊</span><span  ng-show="toggle">隱藏資訊</span></a>
  </article>

  <h2>課程大綱</h2>
  <article class="article">
    <h3>第一週 - 如何自學前端開發</h3>
    <div class="slide_frame-wrapper">
      <iframe class="slide_frame" title="第一週 - 如何自學前端開發" marginwidth="0" marginheight="0" frameborder="0" border="0" scrolling="auto" src="http://week1.learning-path.info/" width="100%" height="100%"><p>很抱歉，您的瀏覽器不支援iframe！<a target="_blank" href="http://week1.learning-path.info/">http://week1.learning-path.info/</a></p></iframe>
    </div>
    <a target="_blank" href="http://week1.learning-path.info/">* 點我觀看課程簡報 *</a>
    <ul>
      <li>什麼是前端？</li>
      <li>為什麼要學前端？</li>
      <li>前端的美好，引發學前端的慾望。</li>
      <li>如何自學前端開發。</li>
      <ol>
        <li>線上教學資源</li>
        <li>書籍</li>
        <li>每天需要追蹤的資訊</li> 
        <li>哪些可以參加的活動</li>
      </ol> 
      <li>網站產生器</li>
      <li>前端開發工具簡介</li>
    </ul>
    <h4>需要準備</h4>
    <ul>
      <li>一個好學的心</li>
      <li>筆記型電腦（Mac 系統佳）</li>
    </ul>
  </article>
  <article class="article">
    <h3>第二週 - 製作第一個靜態網頁</h3>
    <ul>
      <li>HTML 入門</li>
      <ol>
        <li>標籤 Tag</li>
        <li>標題 Heading、段落 Paragraph</li>
        <li>清單 List</li>
        <li>連結 Link</li>
        <li>圖片 Image</li>
        <li>屬性 Attribute</li>
        <li>表單 Form</li>
      </ol>
      <ul>
        <li>介紹 HTML5-boilerplate</li>
        <li>無語意標籤 span, div</li>
      </ul>
      <li>CSS 入門</li>
      <ul>
        <li>如何套用 CSS</li>
        <li>選擇器 Selector、內容 Property、值 Value</li>
        <li>display (inline, block, inline-block)</li>
        <li>box-model (margin, padding, border)</li>
      </ul>
      <li>Git 入門</li>
      <ul>
        <li>什麼是版本控制</li>
        <li>在 GitHub 上建立一個 Respository</li>
        <li>將 Respository 下載到本機</li>
        <li>將建立的檔案加入 git add</li>
        <li>提交加入的檔案 git commit</li>
        <li>建立分支 git branch</li>
        <li>更新遠端 Respository git push</li> 
      </ul>
    </ul>
    <h4>需要準備</h4>
    <ul>
      <li>安裝好 Sublime Text 2 編輯器，或自己找一款順手的編輯器。</li>
      <li>安裝好 Git</li>
      <li>預習 HTML/CSS</li>
      <ul>
        <li><a target="_blank" href="http://www.htmldog.com/guides/">HTML Dog</a> - Beginner 部分</li>
        <li><a target="_blank" href="http://learn.shayhowe.com/html-css/">Learn to Code <strong>HTML & CSS</strong></a> - Lesson 1 ~ Lesson 3</li>
        <li><a target="_blank" href="https://dash.generalassemb.ly/">GA DASH</a> - Project 1</li> 
      </ul> 
    </ul>
  </article>
  <article class="article">
    <h3>第三週 - 排版的技巧</h3>
    <ul>
      <li>HTML</li>
      <ul>
        <li>HTML5 語意標籤</li>
      </ul>
      <li>CSS</li>
      <ul>
        <li>box-model</li>
        <li>box-sizing (content-box, padding-box, border-box)</li>
        <li>float</li>
        <li>單欄式、雙欄式、三欄式排版</li>
        <li>position (fixed, relative, absoluate)</li>
        <li>background</li>
      </ul>
      <li>Devoloper Tool 使用技巧</li>
    </ul>
    <h4>需要準備</h4>
    <ul>
      <li>預習</li>
      <ul>
        <li><a target="_blank" href="http://learn.shayhowe.com/html-css/">Learn to Code <strong>HTML & CSS</strong></a> - Lesson 5 ~ Lesson 6</li>
        <li><a target="_blank" href="https://doggy8088.github.io/csslayoutsite/index.html">學習 CSS 版面配置</a></li>
        <li><a target="_blank" href="https://dash.generalassemb.ly/">GA DASH</a> - Project 2</li> 
        <li><a target="_blank" href="https://www.codeschool.com/courses/discover-devtools">CodeSchool</a> - Discover DevTool Level 1 ~ Level 2</li>
      </ul> 
    </ul>
  </article>
  <article class="article">
    <h3>第四週 - 讓網頁動起來</h3>
    <ul>
      <li>jQuery 入門</li>
      <ul>
        <li>選擇器</li>
        <li>jQuery 修改內容、樣式</li>
        <li>製作下拉選單</li>  
      </ul>
      <li>CSS3 animate</li>
      <ul>
        <li>animate</li>
        <li>transition</li>
        <li>transform</li>
      </ul>
      <li>jQuery 搭配 CSS 做出動畫選單</li>
    </ul>
    <h4>需要準備</h4>
    <ul>
      <li>預習</li>
    </ul>
  </article>
  <article class="article">
    <h3>第五週 - CSS 從入門到精通</h3>
    <ul>
      <li>CSS 選擇器</li>
      <ul>
        <li>*</li>
        <li>A + B</li>
        <li>A > B</li>
        <li>nth-child</li>  
      </ul>
      <li>CSS 偽元素</li>
      <ul>
        <li>hover</li>
        <li>before, after</li>
        <li>a single div</li>
      </ul>
      <li>CSS3 效果</li>
      <ul>
        <li>box-shadow, text-shadow</li>
      </ul>
    </ul>
    <h4>需要準備</h4>
    <ul>
      <li>預習</li>
    </ul>
  </article>
  <article class="article">
    <h3>第六週 - 網站製作實務</h3>
    <ul>
      <li>icon-font</li>
      <li>假文產生器</li>
      <li>假圖產生器</li>
      <li>Google font</li>
      <li>Justfont</li>
      <li>用偽元素做出對話框</li>
      <li>用 label 客製化 input</li>
    </ul>
    <h4>需要準備</h4>
    <ul>
      <li>預習</li>
    </ul>
  </article>
  <article class="article">
    <h3>第七週 - jQuery 進階 與 API 合作</h3>
    <ul>
      <li>AJAX</li>
      <li>facebook API</li>
      <li>用 firebase 快速做出社群登入</li>
      <li>客製化 Google 表單做出精美問卷</li>
    </ul>
    <h4>需要準備</h4>
    <ul>
      <li>預習</li>
    </ul>
  </article>
  <article class="article">
    <h3>第八週 - 使用預處理語言加速開發 前端 MVC 介紹</h3>
    <ul>
      <li>Sass 介紹</li>
      <li>mixin, extend, include</li>
      <li>Compass 介紹</li>
      <li>fire.app 介紹</li>
      <li>AngularJS 介紹</li> 
    </ul>
    <h4>需要準備</h4>
    <ul>
      <li>預習</li>
    </ul>
  </article>
</article>