<div class="platform-wrapper">
  <div class="platform-bg"></div>
</div>
<article class="article">
  <h1>LearningPath - 別讓學習繞遠路</h2>
  <p>
    在網路的時代，我們在開始學習新領域時，可以透過 Google 找到許多學習的「<strong class="xingothic-tc-w6">資訊</strong>」，<br>然而過多的資訊反而無法判斷什麼才是適合自己的「<strong class="xingothic-tc-w6">資源</strong>」。<br>
    現有的學習資源非常豐富，但卻散落在各處，使得「<strong class="xingothic-tc-w6">自我學習</strong>」時總是花費大量時間在搜尋適合自己的資訊。
  </p>
  <p>
    因此我們希望能夠建立 Changee Learning Path「學習路徑平台」，整合資源與資訊，<br>透過「學習分類帽」、「學習軌跡」、「實體資源」三個主要項目，建立方便自學的「<strong class="xingothic-tc-w6">學習路徑平台</strong>」。
  </p>
  <h2>學習分類帽</h2>
  <p>
    初學的時候，我們常常很清楚目標是什麼，卻不知道過程中需要哪些工具。<br>當我們不知道有什麼工具、以及他適合什麼用途的時候，那又如何依照自己的需求，挑選最適合自己的呢？<br>因此分類帽是以「目標」為分類，整理介紹，讓使用者能夠判斷自己需要學習何種工具和技能。
  </p>
  <h2>學習軌跡</h2>
  <p>
    學習軌跡就是將現有資源整理成適合初學者的學習脈絡。<br>當我們已經清楚自己所需要的工具時，<br>可以透過該工具的「學習軌跡」，由淺入深的培養自學的能力。
  </p>
  <h2>實體資源</h2>
  <p>
    在實體資源中，希望能夠串連耕耘於程式領域的單位，如科技社群、活動資訊、課程資訊。
  </p> 
  <h2>結語</h2>
  <p>
    「學習路徑」的概念適用於各個領域，但初期我們會以學習「程式語言」為核心。<br>隨著網路與智慧型手機的普及，越來越多的服務以此為基礎架構，程式語言將逐漸成為未來主要的溝通語言。<br>透過程式，人人都可以讓想法實現。
  </p>
</article>
<article class="article">
  <p>以上為Changee Learning Path的緣起與目標，我們仍在努力打造一個免費的學習資源平台。<br>
因此如果您是「對程式有興趣的初學者」，對於自身所需願意給予方向上的建議。<br>
或是您是「有程式專長，且對資訊整合、教育有熱情的朋友」願意交流或加入， 都歡迎您填寫以下表格與我們聯繫:)</p>
  <p class="important">* 如果您是要報名課程的朋友，請至此(<a href="http://www.accupass.com/go/learningpathvol1">http://www.accupass.com/go/learningpathvol1</a>)付費報名，此區僅做聯繫使用唷！</p>
</article>
<div class="form-wrapper">
  <div class="ss-form">
    <h2>聯繫我們</h2>
    <p>以上為Changee Learning Path的緣起與目標，我們仍在努力打造一個免費的學習資源平台。<br>
    因此如果您是「對程式有興趣的初學者」，對於自身所需願意給予方向上的建議。<br>
    或是您是「有程式專長，且對資訊整合、教育有熱情的朋友」願意交流或加入，
    都歡迎您填寫以下表格與我們聯繫:)</p> 
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){alert('一有最新消息馬上通知您');submitted=false}"></iframe>
    <form action="https://docs.google.com/forms/d/1hAqZHqyL6eJh7Eggi0pzycz067sDqNz4l0_l1WDi0dE/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;disableSubmit();"><ol role="list" class="ss-question-list" style="padding-left: 0">
      <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_467232177"><div class="ss-q-title">我是
      <label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
      <span class="ss-required-asterisk">*</span></div>
      <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

      <ul class="ss-choices" role="radiogroup" aria-label="我是  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1317433299" value="對程式有興趣的初學者 (可填寫第二、三題)" id="group_1317433299_1" role="radio" class="ss-q-radio" aria-label="對程式有興趣的初學者 (可填寫第二、三題)" required="" aria-required="true"></span>
      <span class="ss-choice-label">對程式有興趣的初學者 (可填寫第二、三題)</span>
      </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1317433299" value="有程式專長，且對資訊整合、教育有熱情的朋友" id="group_1317433299_2" role="radio" class="ss-q-radio" aria-label="有程式專長，且對資訊整合、教育有熱情的朋友" required="" aria-required="true"></span>
      <span class="ss-choice-label">有程式專長，且對資訊整合、教育有熱情的朋友</span>
      </label></li></ul>
      <div class="error-message" id="467232177_errorMessage"></div>
      <!-- <div class="required-message">這是必填問題</div> --></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_94284891"><div class="ss-q-title">想要學習的類別
      <label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
      <span class="ss-required-asterisk"></span></div>
      <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

      <ul class="ss-choices ss-choices-required" role="group" aria-label="想要學習的類別  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="前端開發" id="group_511581303_1" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
      <span class="ss-choice-label">前端開發</span>
      </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="後端開發" id="group_511581303_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
      <span class="ss-choice-label">後端開發</span>
      </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="使用者經驗" id="group_511581303_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
      <span class="ss-choice-label">使用者經驗</span>
      </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="視覺設計" id="group_511581303_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
      <span class="ss-choice-label">視覺設計</span>
      </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="行銷策略" id="group_511581303_5" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
      <span class="ss-choice-label">行銷策略</span>
      </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="__other_option__" id="group_511581303_6" role="checkbox" class="ss-q-checkbox ss-q-other-toggle" aria-required="true"></span>
      <span class="ss-choice-label">其他：</span></label>
      <span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.511581303.other_option_response" value="" class="ss-q-other" id="entry_511581303_other_option_response" dir="auto" aria-label="其他"></span>
      </li></ul>
      <div class="error-message" id="94284891_errorMessage"></div>
      <!-- <div class="required-message">這是必填問題</div> --></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
      <div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
      <label class="ss-q-item-label" for="entry_31536401"><div class="ss-q-title">我有話要說
      </div>
      <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
      <textarea name="entry.31536401" rows="8" cols="0" class="ss-q-long" id="entry_31536401" dir="auto" aria-label="我有話要說  "></textarea>
      <div class="error-message" id="1675406557_errorMessage"></div>
      <!-- <div class="required-message">這是必填問題</div> -->
      </div></div></div> 
      <div class="ss-info-wrapper">
        <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
        <label class="ss-q-item-label" for="entry_1860243683"><div class="ss-q-title">姓名
        <label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
        <span class="ss-required-asterisk">*</span></div>
        <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
        <input type="text" name="entry.1860243683" value="" class="ss-q-short" id="entry_1860243683" dir="auto" aria-label="姓名  " aria-required="true" required="" title="">
        <div class="error-message" id="410178882_errorMessage"></div>
        <!-- <div class="required-message">這是必填問題</div> -->
        </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
        <label class="ss-q-item-label" for="entry_1153799576"><div class="ss-q-title">email
        <label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
        <span class="ss-required-asterisk">*</span></div>
        <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
        <input type="text" name="entry.1153799576" value="" class="ss-q-short" id="entry_1153799576" dir="auto" aria-label="email  您的 email 格式錯誤" aria-required="true" required="" pattern=".*[a-zA-Z0-9_\.\+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-\.]+.*" title="您的 email 格式錯誤">
        <!-- <div class="error-message" id="123343646_errorMessage">您的 email 格式錯誤</div> -->
        <!-- <div class="required-message">這是必填問題</div> -->
        </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
        <label class="ss-q-item-label" for="entry_833711986"><div class="ss-q-title">聯絡電話
        </div>
        <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
        <input type="text" name="entry.833711986" value="" class="ss-q-short" id="entry_833711986" dir="auto" aria-label="聯絡電話  " title="">
        <div class="error-message" id="1261664152_errorMessage"></div>
        <!-- <div class="required-message">這是必填問題</div> -->
        </div></div></div>
      </div>
      <input type="hidden" name="draftResponse" value="[,,&quot;3970463536144875354&quot;]
      ">
      <input type="hidden" name="pageHistory" value="0">


      <input type="hidden" name="fbzx" value="3970463536144875354">

      <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
      <input type="submit" name="submit" value="提交" id="ss-submit">
      </td>
      </tr></tbody></table></div></ol>
    </form>
  </div>
</div>