<article class="article">
  <h2>LearningPath - 別讓學習繞遠路</h2>
  <p>開始學習一個新領域時，通常都會遇到許許多多的困難，雖然在網路的時代，Google 就可以得到許多的資源可以學習，但是資訊那麼多，怎麼學才最有效率，不會繞遠路呢？</p>
  <p>未來是個<strong class="xingothic-tc-w6">全民寫程式</strong>的時代，透過程式，人人都可以讓想法實現。網路上也有資源，但是沒有透過規劃做學習，導致一開始的學習曲線過高，讓初學者容易放棄，或是花費大筆資金，去到訪間的補習班學習，又貴又沒有效果。</p> 
  <p>LearningPath 由自學進入新領域的編輯去整理完整的學習路徑，由淺入深，建立一開始的成就感，培養<strong class="xingothic-tc-w6">持續自學精進</strong>的能力。</p> 
</article>
<div class="form-wrapper">
  <div class="ss-form">
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){alert('一有最新消息馬上通知您');}"></iframe>
    <form action="https://docs.google.com/forms/d/1hAqZHqyL6eJh7Eggi0pzycz067sDqNz4l0_l1WDi0dE/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;disableSubmit();"><ol role="list" class="ss-question-list" style="padding-left: 0">
        <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
        <label class="ss-q-item-label" for="entry_1860243683"><div class="ss-q-title">您的信箱
        <label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
        <span class="ss-required-asterisk">*</span></div>
        <div class="ss-q-help ss-secondary-text" dir="ltr">一有最新消息馬上通知您</div></label>
        <input type="text" name="entry.1860243683" value="" class="ss-q-short" id="entry_1860243683" dir="auto" aria-label="您的信箱 一有最新消息馬上通知您 " aria-required="true" required="" title="">
        <div class="error-message"></div>
        <div class="required-message"></div>
        </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="ltr" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry">
        <label class="ss-q-item-label" for="entry_94284891"><div class="ss-q-title">想要學習的類別
        <label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
        <span class="ss-required-asterisk">*</span></div>
        <div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

        <ul class="ss-choices ss-choices-required" role="group" aria-label="想要學習的類別  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="前端開發" id="group_511581303_1" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
        <span class="ss-choice-label">前端開發</span>
        </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="後端開發" id="group_511581303_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
        <span class="ss-choice-label">後端開發</span>
        </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="使用者經驗" id="group_511581303_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
        <span class="ss-choice-label">使用者經驗</span>
        </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="視覺設計" id="group_511581303_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
        <span class="ss-choice-label">視覺設計</span>
        </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="行銷策略" id="group_511581303_5" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
        <span class="ss-choice-label">行銷策略</span>
        </label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.511581303" value="__other_option__" id="group_511581303_6" role="checkbox" class="ss-q-checkbox ss-q-other-toggle" aria-required="true"></span>
        <span class="ss-choice-label">其他：</span></label>
        <span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.511581303.other_option_response" value="" class="ss-q-other" id="entry_511581303_other_option_response" dir="auto" aria-label="其他"></span>
        </li></ul>
        <div class="error-message"></div>
        <div class="required-message"></div></div></div></div>
        <input type="hidden" name="draftResponse" value="[,,&quot;-4563823297755250802&quot;]
        ">
        <input type="hidden" name="pageHistory" value="0">


        <input type="hidden" name="fbzx" value="-4563823297755250802">

        <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
        <input type="submit" name="submit" class="xingothic-tc-w4" value="送出" id="ss-submit">
        </td>
        </tr></tbody></table></div></ol>
    </form>
  </div>
</div>
