.platform-wrapper
  +span-columns(12)
  padding-top: 30%
  background: #333
  position: relative
  // border-radius: 0.5em
  overflow: hidden
  .platform-bg
    width: 100%
    height: 100%
    background-color: #ccc
    background-image: url(../img/changee_learningpath.jpg)
    +background-size(cover)
    background-position: center
    position: absolute
    top: 0
    left: 0

.changee-intro-wrapper
  +span-columns(12)
.changee-wrapper
  +span-columns(12)
  +at-breakpoint($small)
    +span-columns(6)
  +at-breakpoint($medium)
    +span-columns(3)
  background: #333
  position: relative
  border-radius: 0.5em
  overflow: hidden
  .changee-bg
    width: 100%
    padding-top: 100%
    background-color: #ccc
    background-image: url(../img/changee_logo.jpg)
    +background-size(cover)
    background-position: center

.article
  +span-columns(12)
  p
    line-height: 1.5em
  li
    margin: 0.5em 0
  a
    color: $changee
  &.changee
    +span-columns(12)
    +at-breakpoint($small)
      +span-columns(6 omega)
    +at-breakpoint($medium)
      +span-columns(9 omega)

.important
  color: $important

.profile-wrapper
  +span-columns(12)
.profile-avatar-wrapper
  +span-columns(12)
  +at-breakpoint($small)
    +span-columns(4)
  +at-breakpoint($medium)
    +span-columns(3)
  position: relative
  .profile-avatar
    border-radius: 0.5em
    width: 100%
    padding-top: 100%
    background: #ccc
    background-image: url(../img/avatar.jpg)
    +background-size(cover)
.profile-info-wrapper, .contact-wrapper
  +span-columns(12 omega)
  +at-breakpoint($small)
    +span-columns(8 omega)
  +at-breakpoint($medium)
    +span-columns(9 omega)
  .fa
    margin-right: 0.5em
.profile-info
  list-style: none
  .name
    font-size: 1.5em
  li
    margin: 0.5em 0
  .company
    color: #000
    text-decoration: none
    &:hover
      text-decoration: underline
.contact-wrapper
  ul
    list-style: none
  li
    +inline-block()
    margin-right: 0.5em
    &:last-child
      margin-right: 0

.intro-background-wrapper
  +span-columns(12)
  li
    margin: 0.5em 0 

.form-wrapper
  +span-columns(12)

.ss-form
  width: 100%
  +at-breakpoint($small)
    max-width: 600px
    margin: 0 auto
  +box-sizing(border-box)
  padding: 1em
  background: rgba(255,255,255,0.8)
  .ss-q-title
    margin-top: 1em
    color: $important
  .ss-q-help
    margin-top: 0.5em
    margin-bottom: 3px
    font-size: 14px
  .ss-choice-item
    list-style: none
    margin-top: 3px
  .ss-item.ss-navigate
    width: 200px
    margin: 0 auto
  .ss-question-list
    margin: 0

.ss-info-wrapper
  +box-sizing(border-box)
  padding-left: 1em
  input
    +box-sizing(border-box)
    padding: 5px
    width: 100%
textarea
  +box-sizing(border-box)
  resize: none
  width: 100%
#entry_511581303_other_option_response
  width: 100px
#ss-submit
  margin-top: 20px
  font-size: 1.5em
  width: 200px
  height: 40px
  background: #50b599
  border: 0
  border-radius: 3px
  color: #f1f1f1
  +box-shadow(inset 0px -5px 0px darken(#50b599, 10%))
  &:hover
    +translateY(2px)
    +box-shadow(inset 0px -3px 0px darken(#50b599, 10%))
  &:disabled
    background: #999
    border: 0
    border-radius: 3px
    color: #f1f1f1
    +box-shadow(inset 0px -5px 0px darken(#999, 10%))
    &:hover
      +translateY(0px)
      +box-shadow(inset 0px -5px 0px darken(#999, 10%))

#accupass_frame
  height: 300px
.accupass-link
  color: $changee
  font-size: 1.5em